<style>
  body {
    padding: 3em;
    border: 5px solid rgb(233, 255, 199);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: rgb(255, 212, 131);
  }
  button {
    margin-top: 2em;
  }
  h1 {
    color: white;
    letter-spacing: 3px;
    margin-bottom: 1em;
    text-align: center;
  }
</style>

<h1>ENROLL</h1>

<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">First and last name</span>
    </div>
    <input type="text" class="form-control" />
    <input type="text" class="form-control" />
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Recipient's E-mail ID"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
    />
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Tell About Yourselves</span>
    </div>
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>

  <a href="./thankyou"
    ><button class="btn btn-primary btn-block">SUBMIT</button></a
  >
</div>
