<style>
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    padding: 2em;
    letter-spacing: 2px;
  }
  body {
    background-color: tomato;
    color: white;
  }
</style>

<h3>
  THANK YOU FOR ENROLLING <%= user.name %>. <br />
  PLEASE CHECK YOUR MAIL FOR FURTHER PROCEEDINGS.
</h3>
